html, body, #app {
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  flex-flow: column;
}

.main-toolbar {
  position: relative;
  z-index: 10;
}

.main-content {
  position: relative;
  z-index: 1;
  overflow: auto;
}

.md-list, .md-list.md-dense {
  padding: 0;
}

.tweet-detail-text span {
  white-space: pre-wrap;
}

.tweet-detail-text span, .tweet-detail-text a {
  overflow-wrap: break-word;
}

.tweet-image-box {
  margin: auto;
}

hr {
  color: rgba(0, 0, 0, .12);
}
