<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Tweet Picker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vue-material/0.7.4/vue-material.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="app">
      <md-sidenav class="md-left md-fixed" ref="userList">
        <md-list class="md-dense md-double-line">
          <md-list-item href="#" @click="getAllTweets">
            <div class="md-list-text-container">
              <span>All Users</span>
            </div>
          </md-list-item>
          <md-list-item v-for="user in users" :href="`#@${user.id}`" @click="getUserTweets(user.id)">
            <md-avatar>
              <img :src="user.profile_image_url_https" />
            </md-avatar>
            <div class="md-list-text-container">
              <span>
                {{ user.name }}
                  <md-icon v-if="user.verified">check_circle</md-icon>
                  <md-icon v-if="user.protected">lock</md-icon>
              </span>
              <span>@{{ user.screen_name }}</span>
            </div>
          </md-list-item>
        </md-list>
      </md-sidenav>

      <md-toolbar class="main-toolbar">
        <md-button class="md-icon-button" @click="toggleUserList">
          <md-icon>menu</md-icon>
        </md-button>
        <h2 class="md-title">Tweet Picker</h2>
      </md-toolbar>

      <main class="main-content">
        <md-list class="md-double-line">
          <md-list-item v-for="tweet in tweets" :href="`#${tweet.id}`" @click="showTweetDetail(tweet)">
            <md-avatar v-if="tweet.user">
              <img :src="tweet.user.profile_image_url_https" />
            </md-avatar>
            <div class="md-list-text-container" v-if="tweet.text">
              <span>
                {{ tweet.user.name }}
                <md-icon v-if="tweet.user.verified">check_circle</md-icon>
                <md-icon v-if="tweet.user.protected">lock</md-icon>
                <small>@{{ tweet.user.screen_name }}</small>
              </span>
              <span>{{ tweet.text }}</span>
            </div>
            <div class="md-list-text-container" v-if="!tweet.text">
              <span>@({{ tweet.user_id }})</span>
              <span>Tweet ({{ tweet.id }}) not found</span>
            </div>
          </md-list-item>
        </md-list>
      </main>

      <md-dialog ref="tweetDetail">
        <md-dialog-title v-if="tweet.user">
          <md-list class="md-double-line">
            <md-list-item>
              <md-avatar>
                <img :src="tweet.user.profile_image_url_https" />
              </md-avatar>
              <div class="md-list-text-container">
                <span>
                  {{ tweet.user.name }}
                  <md-icon v-if="tweet.user.verified">check_circle</md-icon>
                  <md-icon v-if="tweet.user.protected">lock</md-icon>
                </span>
                <span>@{{ tweet.user.screen_name }}</span>
              </div>
            </md-list-item>
          </md-list>
        </md-dialog-title>
        <md-dialog-content>
          <div class="md-body-2 tweet-detail-text">
            <span v-for="p in parsedTweet" v-if="typeof p === 'string'">{{ p }}</span>
            <a :href="`https://twitter.com/hashtag/${encodeURIComponent(p.text)}?src=hash&lang=ja`" target="_blank" v-else-if="p.key === 'hashtags'">#{{ p.text }}</a>
            <a :href="`https://twitter.com/search?q=%24${encodeURIComponent(p.text)}&src=ctag`" target="_blank" v-else-if="p.key === 'symbols'">${{ p.text }}</a>
            <a :href="p.expanded_url" target="_blank" v-else-if="p.key === 'media'">{{ p.display_url }}</a>
            <a :href="p.expanded_url" target="_blank" v-else-if="p.key === 'urls'">{{ p.display_url }}</a>
            <a :href="`https://twitter.com/${p.screen_name}`" target="_blank" v-else-if="p.key === 'user_mentions'">@{{ p.screen_name }}</a>
            <br v-else />
          </div>
          <md-boards md-controls="true" md-swipeable="true" v-if="tweet.extended_entities">
            <md-board v-for="entity in tweet.extended_entities.media">
              <div class="tweet-image-box" :style="`max-width:${entity.sizes.large.w}px`">
                <a :href="entity.media_url_https" target="_blank">
                  <img :src="entity.media_url_https" />
                </a>
              </div>
            </md-board>
          </md-boards>
          <small class="md-caption">
            {{ moment(new Date(tweet.created_at)).format('LLLL') }}
            ({{ moment(new Date(tweet.deleted_at)).format('LLLL') }})
          </small>
        </md-dialog-content>
      </md-dialog>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-material/0.7.4/vue-material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
